# Ignore virtual environments
.venv/
venv/

# uv
.uv/

# Ignore macOS system files
.DS_Store

# Ignore editor/IDE files
.vscode/
.idea/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore model files or large binary data (optional)
*.h5
*.pt
*.ckpt

# Ignore container build files
*.def

# Ignore build/test artifacts
build/
dist/
*.egg-info/

# Ignore folders
config_files/
examples/
templates/
ckpts/
third_party/

# Extras
TODOS.md